@use "../../../assets/scss/variables"as v;
@use "../../../assets/scss/mixins"as m;

div {
  max-width: 100%;
}

.project-details-container {
  position: relative;
  z-index: -1;

  .project-screen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    transition: opacity 0.3s ease;
    z-index: -5;
  }

  .imageRounded {

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

    position: static;
    margin: -30px 0 0 0;
    z-index: -3;



    width: 100vw;
    object-fit: fill;
    max-width: 100%;

    filter: invert(49%) sepia(98%) saturate(1594%) hue-rotate(332deg) brightness(102%) contrast(87%);
    opacity: .5;
  }

  .project-details {
    margin-top: 100vw;

    .title {
      @include m.flexbox();

      h5 {
        background-color: v.$color5;
        color: v.$color6;
        font-size: 1rem;
        width: auto;
        padding: .3rem 1rem .3rem 1rem;
        margin-bottom: 0;
        box-shadow: -6px 0 0 1px v.$color1;

      }

      span {
        flex: 3;
      }
    }

    .details-box {
      background-color: v.$color6;
      padding: 3rem;
      border: 5px black;
      border-style: inset;
      border-color: #ff000077;


      .first-part {
        @include m.flexbox($gap:2rem);
        padding-bottom: 1rem;
        flex-wrap: wrap;

        .info-left {
          text-align: left;
        }

        .info-right {
          text-align: right;
        }

      }

      .second-part {
        @include m.flexbox($gap:2rem);
        padding-bottom: 1rem;
        flex-wrap: wrap;


        .left {
          flex: 1;
        }

        .right {
          @include m.flexbox($direction:column, $gap:1rem);
          align-items: end;
          flex-wrap: wrap;

          button {
            width: 6.5rem;
            text-align: center;
            padding: 0.4rem 0.4rem 0.4rem 0.4rem;
            background-color: v.$color1;
            color: v.$color6;
          }

        }
      }
    }





  }



}