div {
  max-width: 100%;
}

.project-details-container {
  position: relative;
  z-index: -1;

}

.project-screen-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease;
  z-index: -5;
}

.project-details {
  margin-top: 100vh;
}

.imageRounded {

  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  position: static;
  margin: -30px 0 0 0;
  z-index: -3;



  width: 100vw;
  object-fit: fill;
  max-width: 100%;

  filter: invert(49%) sepia(98%) saturate(1594%) hue-rotate(332deg) brightness(102%) contrast(87%);
  opacity: .5;
}