@use "../../../assets/scss/mixins"as m;
@use "../../../assets/scss/variables"as v;


.not-found {
    margin-top: 10rem;
    text-align: center;
    position: relative;
    min-height: 60vh;

    @include m.flexbox(column, center, center, 0);

    &::after {
        content: "404";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 30vw;
        font-weight: 800;
        color: #efefef;
        z-index: -1;
    }

    h2 {
        color: v.$color2;
    }

    p {
        color: v.$color2;
    }
}