@use "../../../../assets/scss/variables"as v;
@use "../../../../assets/scss/mixins"as m;

.offcanvas-body,
.offcanvas-header {
    background-color: v.$color6;
}

.navbar {
    background-color: v.$color4;
    color: v.$color3;

    .toggle {
        border: none;
        color: v.$color4;
    }
}

.offCanvas {
    background-color: v.$color4;

    .title {
        color: v.$color5;
    }

    ul {
        @include m.reset-list();
        padding: .5rem 0 .5rem .5rem;

        &:hover {
            background-color: v.$color4;

            a {
                color: v.$color6;
                ;
            }
        }
    }

    .separator {
        padding-top: 2rem;
        border-bottom: 1px solid v.$color4;
        margin-bottom: 1rem;
    }

    .userName {
        background-color: v.$color4;
        color: v.$color5;
        margin-left: 1rem;
        position: relative;

        a {
            padding-left: 1rem;
        }

        .dropdown-menu {
            padding-left: 0;
            margin: 0;
            background-color: v.$color4;
            border-radius: 0;

            a:hover {
                background-color: v.$color4;
                color: v.$color6;
            }

        }
    }

    .active {
        color: v.$color2;
    }



    a {
        text-decoration: none;
    }
}